# Node related directories and files
backend/node_modules/
backend/npm-debug.log
frontend/node_modules/
frontend/npm-debug.log

# Git directory
.git

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
